.circle {
  display: block;
  background: #ff7473;
  color: #fff;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  margin-left: 45vw;
  margin-top: 2vw;
}

.square1 {
  display: block;
  background: #ff7473;
  color: #fff;
  height: 13vw;
  width: 13vw;
  margin-left: 20vw;
  margin-top: 2vw;
  border-radius: 30%;
}

.square2 {
  display: block;
  background: #ff7473;
  color: #fff;
  height: 13vw;
  width: 13vw;
  margin-left: 20vw;
  margin-top: -10vw;
  margin-bottom: 2vw;
  border-radius: 30%;
}

.square3 {
  display: block;
  background: #ff7473;
  color: #fff;
  height: 13vw;
  width: 13vw;
  margin-left: 20vw;
  border-radius: 30%;
}

.square4 {
  display: block;
  background: #ff7473;
  color: #fff;
  height: 13vw;
  width: 13vw;
  margin-left: 65vw;
  margin-top: -43vw;
  margin-bottom: 43vw;
  border-radius: 30%;
}

.square5 {
  display: block;
  background: #ff7473;
  color: #fff;
  height: 13vw;
  width: 13vw;
  margin-left: 65vw;
  margin-top: -41vw;
  margin-bottom: 41vw;
  border-radius: 30%;
}

.square6 {
  display: block;
  background: #ff7473;
  color: #fff;
  height: 13vw;
  width: 13vw;
  margin-left: 65vw;
  margin-top: -39vw;
  margin-bottom: 39vw;
  border-radius: 30%;
}

.Span {
  color: #fff;
  width: 100%;
  text-align: center;
  position: absolute;
  /* top: 40%; */
  float: left;
}
